html {
  font-size: 16px;
}

/* Variables */

:root {
  /* COLORS */
  --clr-primary-100: hsl(300, 43%, 22%);
  --clr-primary-200: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  /* FONT SIZE */
  --fs-primary: 0.9375rem;

  /* FONT FAMILY */
  --ff-primary: "League Spartan", sans-serif;

  /* FONT WEIGHTS */
  --fw-primary-100: 400;
  --fw-primary-200: 500;
  --fw-primary-300: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */
.primary-font-color {
  color: var(--clr-primary-100);
}

.bg-rating {
  padding: 1em;
  display: grid;
  gap: 0.8em;
  background-color: var(--clr-neutral-200);
  border-radius: 10px;
}

.testimonial-font {
  color: var(--clr-primary-200);
}

/* I STARTED HERE */
body {
  background: url(bg-pattern-top-mobile.svg) no-repeat top left,
    url(bg-pattern-bottom-mobile.svg) no-repeat bottom right;

  background-size: contain;
  padding: 2em;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  background-color: var(--clr-neutral-300);
  width: 90%;
  margin: 0 auto;
}

/* HEADER STYLES */

header {
  text-align: center;
}

h1 {
  padding-bottom: 1rem;
  line-height: 0.8;
}

.header-context > p {
  color: var(--clr-neutral-100);
  /* font-size: var(--fs-primary); */
  font-weight: var(--fw-primary-200);
}

.ratings-section {
  display: grid;
  gap: 1em;
  padding: 2em 0 3em;
}

.icon-container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.bg-rating > p {
  color: var(--clr-primary-100);
  font-weight: var(--fw-primary-300);
  font-size: var(--fs-primary);
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  display: grid;
  gap: 1em;
}

.testimonials {
  border-radius: 10px;
  display: grid;
  gap: 1.5em;
  color: var(--clr-neutral-300);
  padding: 2.2em;
  background-color: var(--clr-primary-100);
}

.testimonials p {
  font-size: var(--fs-primary);
  font-weight: var(--fw-primary-100);
}

h2 {
  font-size: var(--fs-primary);
}

.customer-section {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.customer-image {
  max-width: 3rem;
  border-radius: 100%;
}

@media (min-width: 768px) {
  body {
    background-image: url(bg-pattern-top-desktop.svg),
      url(bg-pattern-bottom-desktop.svg);

      background-repeat: no-repeat;
      background-position: top left, bottom right;
      background-size: 50%, 50%;
  }
}

@media (min-width: 996px) {
  header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-context {
    width: 100%;
    max-width: 380px;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }

  .ratings-section {
    grid-template-columns: 20px 20px auto 20px 20px;
  }

  .one {
    grid-area: 1/1/2/4;
  }

  .two {
    grid-area: 2/2/3/5;
  }

  .three {
    grid-area: 3/3/4/6;
  }

  .bg-rating {
    display: flex;
    gap: 1.5em;
  }

  .icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .testimonial-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 10px auto 10px 10px;
  }

  .first {
    grid-area: 1/1/4/2;
  }

  .second {
    grid-area: 2/2/5/3;
  }

  .third {
    grid-area: 3/3/6/4;
  }
}
